.card {
  border: 1px solid #ddd;
  margin: 10px;
  text-align: center;
}
.card:hover {
  background-color: yellow;
}

.icon {
  margin-bottom: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
